{% extends 'base.html' %}
{% block title %}Main page{% endblock %}
{% block main %}
    <div>
        <div class="container clearfix">
            <div class="row justify-content-around">
                <div class="col-main col-main-page col-lg-4 col-md-4 col-sm-12 col-12" align="center">
                    <h3>LOAD</h3>
                    <hr>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <hr>
                    <button type="button" class="btn btn-outline-secondary btn-lg btn-block">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="col-main col-main-page col-lg-4 col-md-4 col-sm-12 col-12" align="center">
                    <h3>SHOW</h3>
                    <hr>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <hr>
                    <button type="button" class="btn btn-outline-secondary btn-lg btn-block">
                        <i class="fa fa-file-code-o" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}